@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
body {
    margin: 0
}
.clicked {
    border: 1px dashed black !important;
    font-weight: 600;
}
.sButton {
    height: 15vh;
    width: 50vh;
    background-color: #9CC3E6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
}
.sButton:hover {
    background-color: #8FABDB;
}
.gyeonggi {
    font-family: GyeonggiTitleM, sans-serif;
}
.gowon {
    font-family: GowunDodum-Regular, sans-serif;
}
/* html { 
    scroll-behavior: smooth; 
  }  */
.tButton:hover {
    border: 1px dashed black !important;
    font-weight: 600;
}

#aa {
    background-image: url(../src/image/a.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#bb {
    background-image: url(../src/image/b.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#cc {
    background-image: url(../src/image/c.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#dd {
    background-image: url(../src/image/d.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#ee {
    background-image: url(../src/image/e.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#ff {
    background-image: url(../src/image/f.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#gg {
    background-image: url(../src/image/g.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#hh {
    background-image: url(../src/image/h.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#ii {
    background-image: url(../src/image/i.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#jj {
    background-image: url(../src/image/j.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#kk {
    background-image: url(../src/image/k.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#ll {
    background-image: url(../src/image/l.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#mm {
    background-image: url(../src/image/last.jpg);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
#first {
    background-image: url(../src/image/first.jpg);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}

#INFP {
    background-image: url(../src/image/result/infp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ENFJ {
    background-image: url(../src/image/result/enfj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ENFP {
    background-image: url(../src/image/result/enfp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ENTJ {
    background-image: url(../src/image/result/entj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ENTP {
    background-image: url(../src/image/result/entp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ESFJ {
    background-image: url(../src/image/result/esfj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ESFP {
    background-image: url(../src/image/result/esfp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ESTJ {
    background-image: url(../src/image/result/estj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ESTP {
    background-image: url(../src/image/result/estp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#INFJ {
    background-image: url(../src/image/result/infj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#INTJ {
    background-image: url(../src/image/result/intj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#INTP {
    background-image: url(../src/image/result/intp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ISFJ {
    background-image: url(../src/image/result/isfj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ISFP {
    background-image: url(../src/image/result/isfp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ISTJ {
    background-image: url(../src/image/result/istj.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
#ISTP {
    background-image: url(../src/image/result/istp.png);
    height: 100%;
    max-height: 100vh;
    /* max-width: 100vw; */
    background-repeat : no-repeat;
    background-size : contain;
    background-position: center;
}
@media (max-width: 600px) {
.mobWidthFont {
    width: 90% !important;
    font-size: 4.5vw !important;
}
.mobFont {
    font-size: 4.5vw !important;
}
.mobQu {
    font-size: 6vw !important;
    text-align: center;
    word-break:keep-all;
    width: 80% !important;
}
}